body{
    background-color: #aaecfe;
}
nav{
    background-color: #e6e6fa;
    margin: 5px;
    padding: 5px;
}
nav a{
    margin: 5px;
    padding: 5px;
}
nav a:hover{
    background-color: #ffb6c1;
}
.row1{
    display: flex;
    justify-content: space-between;
    
}
.tower{
    max-width: 60%;
    justify-content: space-between;
}

.boat{
    max-width: 20%;
}

.eiffel{
    max-width: 20%;
    justify-content: space-between;
}

.columns{
    display: flex;

}
p{
  border: 5px;
  margin: 10px;
  padding: 10px;
}


footer{
    background-color: #e6e6fa;
    margin: 5px;
    padding: 5px;
}
@media only screen and (max-width:600px){
  nav a {display: block; max-width: 100%;}
}