body{
    background-color: #aaecfe;
}
nav{
    background-color: #e6e6fa;
    margin: 5px;
    padding: 5px;
}
nav a{
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: x-large;
    color: #663399;
}
nav a:hover{
    background-color: #ffd1d8;
}
.column1 {
display: flex;
flex: round;
}

.intro{
    margin: 80px;
}  
.tower{
    max-width: 80%;
    justify-content: center;
    padding: 5px;
}
.boat{
    max-width: 80%;
    justify-content: center;
    padding: 5px;
}

.eiffel{
    max-width: 80%;
    justify-content: center;
    padding: 5px;
}

.columns{
    display: flex;
}

.row2{
    display: flex;
}

.row3{
    display: flex;
}
.guards{
    max-width: 70%;
    justify-content: space-between;
    padding: 30px; 
}
.b{
    max-width: 115%;
    justify-content: space-between;
    padding: 30px;
}

.abbey{
    max-width: 70%;
    justify-content: space-between;
    padding: 30px;
}
.food{
    display: flex;
    padding: 10px;
    margin: 20px;
}
.yay{
    display: flex;
    margin: 30px;
}

.fish{
    max-width: 70%;
    justify-content: space-between;
    padding: 10px;
}

.yes,.no,.maybe{
   display: flex;
}

.tea{
    max-width: 80%;
    justify-content: space-between;
    
}
.p,.a,.r{
    display: flex;
}
.towerwrite{
    padding-left: 90px;
}
footer{
    background-color: #e6e6fa;
    margin: 5px;
    padding: 5px;
}

.image1{
    max-width: 90%;
    padding: 10px;
}
.image2{
    max-width: 68%;
    padding: 10px;
}
.mona{
    max-width: 77%;
    padding: 10px;
}
.jac{
    max-width: 50%;
    padding: 10px;
}
.las{
    max-width: 50%;
    padding: 10px;
}
.container1 {
    display:flex;
}
.container2{
    display: flex;
    margin: 30px;
}
.container3{
    display: flex;
}
.picture1{
    max-width: 42%;
    margin: 30px;
}
.picture2{
    max-width: 80%;
}
.picture22{
    max-width: 80%;
}
.coffee{
  max-width: 50%; 
  margin: 30px;
} 
.t{
    margin: 30px;
}
.skip{
    background-color: #ffd1d8;
    padding: 5px;
    border: 1px solid #000000;
    position: absolute;
    top:30px;
    left: -999px;
}
.skip:focus{
  left: 10px;  
}
@keyframes example {
    from {background-color:#aaecfe;}
    to {background-color: #ffd1d8;}
  }
  
h1 {
    width: 140px;
    height: 50px;
    background-color: #aaecfe;
    animation-name: example;
    animation-duration: 4s;
  }
@media only screen and (max-width:600px){
    nav a {display: block; max-width: 100%;}
    .row2,.row3,.yes,.no,.maybe,.p,.a,.r,.container1,.container2,.container3{display: block;}
}

.column1 div {
    flex: 1;
    padding: 10px;
}
.column1 div img {
    display: block;
    width: 100%;
    max-width: 500px; /*actual image width*/
    height: auto; /* maintain aspect ratio*/
    margin: auto; /*optional centering of image*/
}